.mobile-only{
	display: inline;
}

.desktop-only, .signet, .corner, .bottom, .space{
	display: none !IMPORTANT;
}

#desktop{
	display: none;
}

#content{
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	margin: 0;
	border-radius: 0px !IMPORTANT;
}

#menu{
	height: auto;
}

#menu > li > a{
	height: 35px;
	padding: 15px 10px;
	font-size: 15px;
}

#lang{
	position: static;
	height: 25px;
	margin-top: 10px;
}

.mibloc, .mibloccenter{
	display: block;
	width: 100%;
}

.paddingtop{
	padding-top: 10px;
}

.bigbutton{
	max-width: 90% !IMPORTANT;
}

.tableauscores{
	margin: 10px auto;
}

.btneffacescores{
	height: 18px;
	font-size: 13px;
}

.touch-capture{
	position: relative;
	width: 98%;
	max-width: 370px;
	height: 310px;
	margin: 0 auto;
	background: url(../img/mobile.png) no-repeat;
}

.touch-pause, .touch-rotate, .touch-swipe, .touch-swipedown{
	position: absolute;
	width: 100%;
	margin: 0;
	font-size: 15px;
}
.touch-pause::before, .touch-rotate::before, .touch-swipe::before, .touch-swipedown::before{
	content: '';
	display: block;
	width: 160px;
	height: 100px;
	float: left;
}

.touch-pause{
	top: 15px;
}
.touch-rotate{
	top: 90px;
}
.touch-swipe{
	top: 165px;
}
.touch-swipedown{
	top: 235px;
}